:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: #ffe3e2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  margin: 0;
  height: 100vh;
}

body {
  margin: 0;
}

span {
  color: black;
}

a {
  font-weight: 500;
  color: #d689a4;
  text-decoration: inherit;
}
a:hover {
  color: white;
  cursor: pointer;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  color:#d689a4;
  margin: 0;
}

h2 {
  font-size: 24px;
  margin: 0;
}

h3 {
  font-size: 16px;
  margin: 0;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d8d8d8;
  cursor: pointer;

  transition: border-color 0.25s;
}
button:hover {
  border-color: #d689a4;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
